<div class="card">
    <div class="card-body tiny">
<div class="row mb-3">
    <div class="col-sm-4 text-left">
      <div class="col-sm-8">
        <span class="label-form">Marca</span>
        <input type="text" class="form-control"/>
      </div>
    </div>
    
    <div class="col-sm-8 mt-3 boton-right" >
      <button class="btn btn-primary tiny mx-1"><i class="fas fa-trash" ></i> Limpiar</button>
      <button class="btn btn-info tiny mx-1"><i class="fas fa-search-plus" ></i> Buscar</button>
      <button class="btn btn-success tiny mx-1"><i class="fas fa-plus"></i> Nuevo</button>
    </div>
    </div>
    <table class="table table-bordered table-hover table-sm tiny mb-0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Descripción</th>            
            <th>U. Creación</th>
            <th>Fecha Registro </th>
            <th>Estado </th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
</div>