<div class="card">
    <div class="card-body tiny">
<div class="row mb-3">
    <div class="col-sm-4 text-left">
      <div class="col-sm-8">
        <span class="label-form">Categoría</span>
        <input type="text" class="form-control" [(ngModel)]="descripcion"/>
      </div>
    </div>
    
    <div class="col-sm-8 mt-3 boton-right" >
      <button class="btn btn-primary tiny mx-1" (click)="limpiar()"><i class="fa fa-trash" ></i> Limpiar</button>
      <button class="btn btn-info tiny mx-1" (click)="buscar()"><i class="fa fa-search-plus" ></i> Buscar</button>
      <button class="btn btn-success tiny mx-1" (click)="operacion(content, null)"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
    </div>
    <table class="table table-bordered table-hover table-sm tiny mb-0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Descripción</th>     
            <th>Nombre Corto</th>       
            <th>U. Creación</th>
            <th>Fecha Registro </th>
            <th>Estado </th>
            <th>Acción</th>
          </tr>
        </thead>
        <div *ngIf="paginateList.length == 0 then empty"></div>
        <ng-template #empty>
            <tbody>
                <tr>
                    <td colspan="15" class=" p-4  mb-6 text-center">No se encontraron resultados</td>
                </tr>
            </tbody>
        </ng-template>
        <tbody>
            <tr *ngFor="let item of paginateList; let i = index">
                <td>{{ item.idCategoria }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.nombreCorto }}</td>
                <td>{{ item.userName }}</td>
                <td>{{ item.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.estadoDesc }}</td>
                <td class="text-center">
                    <button class="btn btn-info tiny" (click)="operacion(content, item)">
                      <i class="fa fa-edit fa-xs" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-9">
          <ngb-pagination #pagination [(page)]="currentPage"
                      [pageSize]="itemsPerPage"
                      [collectionSize]="totalItems"
                      [maxSize]="maxSize"
                      (pageChange)="pageChanged(currentPage)"
                      [boundaryLinks]="true"
                      [rotate]="true" class="tiny">
            <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
            <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
          </ngb-pagination>
        </div>
  
        <div class="col-sm-3" style="margin-top: 10px;">
          <span style="display: inline-block;">Mostrar: </span>
          <select class="form-control" [(ngModel)]="itemsPerPage" (click)="cambiarFilas()"
                  style="display: inline-block; width: 20%; float: right; position: relative; top: -5px;">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>50</option>
          </select>
        </div>
      </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ titulo }}</h4>
    </div>
    <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> Descripcion: </label>
                <input type="text" class="form-control" maxlength="40"
                  [(ngModel)]="request.descripcion" name="descripcion">
              </div>
            </div>      
            <div class="col-md-6">
              <div class="form-group">
                <label> Nombre Corto</label>
                <input type="text" class="form-control" maxlength="30"
                  [(ngModel)]="request.nombreCorto" name="nombreCorto">
              </div>
            </div>     
          </div>
  
        
          <div class="d-flex justify-content-between">
            <div class="form-group">
              <label>Estado</label><br>
              <span>{{ request.estado ? "Activo" : "Inactivo"}} &nbsp;</span>
              <input type="checkbox" class="ms-1 form-check-input" [(ngModel)]="request.estado" name="Estado" style="width: 2rem;">&nbsp;
            </div>
          </div>   
  
        </div>
    </div>
    <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-secondary" (click)="modalReference.close(0)">Volver</button>
        <button type="button" class="btn btn-danger" (click)="guardar();">Guardar</button>
    </div>
  </ng-template>

<div [hidden]="loading==false" class="loadingScreen">
    <div style="display:flex;height: 100%;width:100%">
        <i style="margin:auto;font-size: 50px" class="fa fa-spinner fa-pulse"></i>
    </div>
  </div>